{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django SB Admin 2 RTL (By MMFT) : {{ title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/rtl/bootstrap.min.css" %}" rel="stylesheet">

    <!-- not use this in ltr -->
    <link href="{% static "css/rtl/bootstrap.rtl.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "css/plugins/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static "css/plugins/timeline.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/rtl/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "css/plugins/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "css/font-awesome/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    {% block extrahead %}
    {% endblock extrahead %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

{% block extrastyle %}
{% endblock extrastyle %}

<body>
{% block basecontent %}

{% endblock basecontent %}

<!-- jQuery Version 1.11.0 -->
<script src="{% static "js/jquery-1.11.0.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "js/metisMenu/metisMenu.min.js" %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static "js/raphael/raphael.min.js" %}"></script>
<script src="{% static "js/morris/morris.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "js/sb-admin-2.js" %}"></script>

{% block extrajs %}
{% endblock extrajs %}

</body>

</html>
